.homeSimple{
    font-size: 20px;
    min-height: 100vh;
    text-align: center;
}

@media (max-width: 400px) {
    .homeSimple{
        font-size: 14px;
    }
}
.logo {
    padding: 3em 0em 1em 0em;
    width: 700;
}

.largeText{
    font-family: Nunito;
    font-weight: 900;
    font-size: 3em;
    color: white;
    margin-bottom: .2em;
}

.smallText{
    font-family: Nunito;
    font-weight: 600;
    font-size: 2.5em;
    color: white;
    text-transform: uppercase;
    margin-top: .2em;
    margin-bottom: 1.5em;
}

.aboutText{
    font-family: Nunito;
    font-weight: 300;
    font-size: 1.3em;
    color: white;
    margin-bottom: 3em;
}


.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Nunito;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  height: 2em;
  margin-bottom: 2em;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.about{
    text-align: left;
}

.lauren{
    width: 15em;
}

.br{
  height: 10em;
}