.counter{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.counter > button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #737373;
    color: #D9D9D9;
    font-size: 1.5rem;
}

.counter > button:hover {
    background-color: #404040;
    color: #D9D9D9;
}

.counter > button:focus {
    outline: none;
}

.counter--count {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
}

.counter--plus {
    margin-left: -15px;
}

.counter--minus {
    margin-right: -15px;
    z-index: 1;
}

.petType{
    margin-right: auto;
    font-size: 40px;
    color: white;
    font-family: AntipastoBold, Helvetica, Arial, sans-serif;
}