.counter{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: nunito, Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.counter > button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: rgb(17, 153, 254);
    color: #D9D9D9;
    font-size: 1.5rem;
}

.counter > button:hover {
    background-color: rgb(21, 92, 146);
    color: #D9D9D9;
}

.counter > button:focus {
    outline: none;
}

.counter--count {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
}

.counter--plus {
    margin-top: 10px;
    margin-left: -15px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.counter--minus {
    margin-right: -15px;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.petType{
    margin-right: auto;
    font-size: 40px;
    color: white;
    font-family: Nunito, Helvetica, Arial, sans-serif;
}

.minus{
    padding-bottom: 20px;
    font-size: 60px;
    font-family: Nunito, Helvetica, Arial, sans-serif;
}

.plus{
    padding-bottom: 20px;
    font-size: 60px;
    font-family: Nunito, Helvetica, Arial, sans-serif;
}